@media ( max-width: 991px ){
    .container{
        width: 90%;
    }
    .promo__wrapper {
        align-items: center;
    }
    .advantages__wrapper{
        padding: 0 10px;
        align-items: flex-start;
    }
    .title__left {
        text-align: center;
    }
    .consultation__description {
        text-align: center;
    }
    .feed-form {
        margin: 36px auto 0 auto;
    }
    .courousel__inner {
        width: 90%;
       img {
           width: 90%;
           display: block;
           margin: 0 auto;
       }
    }
}
@media ( max-width: 767px ){
    .container{
        width: 100%;
    }
    .header {
        padding: 0 20px;
    }
    .promo {
        &__wrapper{
            align-items: center;
        }
    }
    .promo__icons{
        align-items: flex-end;
    }
    .advantages__wrapper{
        padding: 0 10px;
        align-items: flex-start;
    }
    .title__left {
        text-align: center;
        font-size: 30px;
    }
}
@media (max-width: 576px){
    .header{
        display: none;
    }
    .header__mobile{
        display: flex;
        align-items: flex-end;
    }
    .header__official{
        line-height: 1;
        span{
            margin-top: 10px;
        }
    }
    .promo__header {
        font-size: 28px;
    }
    .promo__icons {
        width: 398px;
    }
    .promo__subheader {
        font-size: 16px;
    }
    .advantages__wrapper{
        flex-direction: column;
        align-items:center;
        margin-top: 0;
    }
    .advantages__item{
        width: 80%;
        margin-top: 40px;
    }
    .advantages__title{
        margin-top: 0;
    }
    .advantages__desc {
        font-size: 20px;
    }
    .title__left {
        text-align: center;
        font-size: 25px;
        br{
            display: none;
        }
    }
    .consultation__description {
        margin-top: 30px;
        font-size: 18px;
    }
    .catalog__tab {
        width: 105px;
        height: 35px;
        span {
            font-size: 10px;
        }
    }
    .catalog__content {
        justify-content: center;
    }
    .modal {
        &__close {
            right: 5px;
            top: 5px;
        }
    }
    .comment__feed {
        flex-direction: column;
        width: 100%;
    }
    .footer__footer-item {
        width: 100%;
    }
}
@media (max-width: 375px) {
    .header__mobile {
        display: block;
    }
    .header__logo {
        display: block;
        margin: 0 auto;
    }
    .header__official {
        display: block;
        margin-top: 20px;
    }
    .promo__header {
        font-size: 28px;
    }
    .promo__subheader {
        font-size: 16px;
    }
    .promo__icons {
        width: 350px;
    }
    .title__left {
        font-size: 20px;
    }
    .consultation__description {
        font-size: 16px;
    }
    .catalog__tab {
        width: 105px;
        height: 35px;
        span {
            font-size: 10px;
        }
    }
    .catalog__content {
        justify-content: center;
    }
    .modal {
        width: 350px;
        display: flex;
        justify-content: center;
    }
    .feed-form__mt-25 {
        width: 100%;
    }
    .footer__footer-item {
        width: 100%;
    }
    .comment__feed {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    
    }
    .comment__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px;
        margin-top: 25px;
    }

    .comment__text {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 340px) {
    .header__mobile {
        display: block;
    }
    .header__logo {
        display: block;
        margin: 0 auto;
    }
    .header__official {
        display: block;
        margin-top: 20px;
    }
    .promo__header {
        font-size: 25px;
    }
    .promo__subheader {
        font-size: 14px;
    }
    .promo__icons {
        width: 318px;
        font-size: 12px;
    }
    .catalog__tab {
        width: 90px;
        height: 35px;
        span {
            font-size: 10px;
        }
    }
    .catalog__content {
        justify-content: center;
    }
}